@{
    ViewBag.Title = "AboutUs";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>About Us</h2>
            <table>

                <tr>
                    <content>
                        We are an online grocery store. We exist for your convenience.
                        Now you can purchase all of your grocery products online, and they will be
                        available for pick up at the supermarket, as soon as you place your order.

                    </content>


                </tr>



            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="carousel slide" id="carousel-15945">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#carousel-15945">
                </li>
                <li data-slide-to="1" data-target="#carousel-15945">
                </li>
                <li data-slide-to="2" data-target="#carousel-15945" class="active">
                </li>
                <li data-slide-to="3" data-target="#carousel-15945">
                </li>
                <li data-slide-to="4" data-target="#carousel-15945" class="active">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img class="img" alt="Carousel Bootstrap First" src="http://citinerary.net/system/articles/images/000/010/247/header/AlbertCuyp1.png?1424628842" />
                    <div class="carousel-caption"></div>
                </div>

                <div class="item active">
                    <img class="img" alt="Carousel Bootstrap Second" src="http://fatninja.ooo/images/buyshop/layer/slide2.jpg" />
                    <div class="carousel-caption"></div>
                </div>

                <div class="item">
                    <img class="img" alt="Carousel Bootstrap Third" src="http://staging.ownhonuakai.com/wp-content/uploads/2013/04/header_AinaGourmetMarket.jpg" />
                    <div class="carousel-caption"></div>
                </div>

                <div class="item">
                    <img class="img" alt="Carousel Bootstrap Fourth" src="http://www.cognistix.com/wp-content/uploads/C-Grocery-1600x500.jpg" />
                    <div class="carousel-caption"></div>
                </div>

                <div class="item">
                    <img class="img" alt="Carousel Bootstrap Fifth" src="http://skmgroup.wpengine.netdna-cdn.com/wp-content/uploads/2014/08/TOPSMoreBranding_HeaderIMG_1600x500.jpg" />

                    <div class="carousel-caption"></div>
                </div>
            </div> <a class="left carousel-control" href="#carousel-15945" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-15945" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>





