@{
    ViewBag.Title = "Home";
}

<h2>Welcome !</h2>

<table>

    <tr>
        <content>
            Welcome to Grocery2Go. We appreciate your business.
            

        </content>


    </tr>



</table>

<br />

<h2>
    Thanks for stopping by.
</h2>
<p>
    If you're looking for a convenient place to do all of your grocery shopping online, then you've come to the right place!
</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <img class="img" alt="Carousel Bootstrap First" src="http://www.clementsmarket.com/wp-content/uploads/2014/09/g2g-alone.jpg" />
                <img class="img" alt="Carousel Bootstrap First" src="https://aviserves.com/psnk/images/groceries2go_logo.png" />
                <img class="img" alt="Carousel Bootstrap First" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS1wnUFxL3jGDLta07DtJrEhuDuWhpcmyERlakY7lHw6_tCQu8rDQ" />
                <img class="img" alt="Carousel Bootstrap First" src="http://www.lacartes.com/images/business/148510/434879/m/594076.jpg" />
                <img class="img" alt="Carousel Bootstrap First" src="http://www.trademarkia.com/logo-images/groceries-to-go/groceries-to-go-74137983.jpg" />

                

                
            </div>
        </div>
    </div>
</div>