@model Grocery3Go.Models.Views.ProductsViewModel
@{
    ViewBag.Title = "MyCart";
}

<h2>My Cart</h2>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Remove Item</th>
       
    </tr>
    @*Loops through local Shopping Cart List*@
        @foreach (var item in Model.ShoppingCartList)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@Html.ActionLink("Delete", "DeleteFromCart", new { shoppingCartItemId = item.ShoppingCartItemId })</td>
                
             
            </tr>
        }

</table>




